<div class="backgroundPricing" id="pricingForm">
    <div class="container">
      <div class="panel pricing-table">
        
        <div class="pricing-plan col-lg-4 col-md-6 text-center">
          <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
          <h3 class="pricing-header">Lite</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">1 certificate</li>
            <li class="pricing-features-item">₹0.50 per-day/ certificate </li>
            <li class="pricing-features-item">Billed annually</li>
            <li class="pricing-features-item">Ideal for indivual & personal trainers </li>
          </ul>
          <span class="pricing-price">₹180</span>
          <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FMDXHjGYlPTrxj/view" data-text="Buy Now" data-color="#528FF0" data-size="small">
            <script>
              (function(){
                var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                rzp && rzp.init && rzp.init()}})();
            </script>
          </div>
              
        </div>
        
        <div class="pricing-plan col-lg-4 col-md-6 text-center">
          <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
          <h3 class="pricing-header">Elite</h3>
          <ul class="pricing-features">
            <li class="pricing-features-item">10 certificates</li>
            <li class="pricing-features-item">₹0.40 per-day/ certificate </li>
            <li class="pricing-features-item">Billed annually</li>
            <li class="pricing-features-item">Ideal for small training firms </li>
          </ul>
          <span class="pricing-price">₹1,460</span>
          <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FMFRJQIeAAo9Bi/view" data-text="Buy Now" data-color="#528FF0" data-size="small">
            <script>
              (function(){
                var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                rzp && rzp.init && rzp.init()}})();
            </script>
          </div>
              
        </div>
        
       

        <div class="pricing-plan col-lg-4 col-md-6 text-center">
            <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
            <h3 class="pricing-header">Pro</h3>
            <ul class="pricing-features">
                <li class="pricing-features-item">100 certificates</li>
                <li class="pricing-features-item">₹0.30 per-day/ certificate </li>
                <li class="pricing-features-item">Billed annually</li>
                <li class="pricing-features-item">Ideal for large training Enterprises  </li>
            </ul>
            <span class="pricing-price">₹10,950</span>
            <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FMFVHmYqbvp5K5/view" data-text="Buy Now" data-color="#528FF0" data-size="small">
                <script>
                  (function(){
                    var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                    if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                    s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                    rzp && rzp.init && rzp.init()}})();
                </script>
              </div>
                  
          </div>
        
      </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Signup me up for a free trail </h2>
              <hr class="primary">
              <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.in/rtharayil/form/BasicSignup/formperma/Ry5aZP7HXqeD8T-XqUp_mWJ37Nx6RtzO5HEA-8oEMiQ'></iframe>
          </div>
      </div>
  </div>
   
  </div>