<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading"> Anganwadi </h2>
				<hr>


			</div>


		</div>
	</div>

	<div class="row">

		<ul class="tilesWrap">
			{% for subject in site.Zero %}
			<li onclick="location.href = '{{site.baseuri}}{{subject.url}}';">
				<h1>{{subject.subject}}</h1>
				<button onclick="window.location.href='{{site.baseuri}}{{subject.url}}';"> View Lessons</button>
			</li>
			{% endfor %}

		</ul>

	</div>
</div>