<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{site.USPH}}</h2>
                <hr >
                <p >{{site.USP}}</p>
                
            </div>
            <div class="col-lg-12 col-lg-offset-2 text-center">
            <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6706210337429028864" height="930" width="800" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
            </div>
            
        </div>
    </div>
</section>
