<!-- Site footer -->
<footer class="site-footer">
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0"
        nonce="THCPOHB2"></script>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        
        <h6>Address</h6>

        <p> 433/17 , High School Road , Kuttur , Thrissur , Kerala 680013 </p>
        
        <a href="mailto:admin@vidhyalayam.online?&subject=&body= Hello  Vidhyalayam Team"><p>Email: admin@vidhyalayam.online</p></a>
        <img src="{{{site.baseuri}}/img/logo1.png" alt="logo" style="width: 100px; height: 100px; float:left ;" />






      </div>

      <div class="col-xs-12 col-md-4">
        <h6>quick links to classes</h6>

        <ul class="footer-links">
          {% for class in site.data.class %}
          <div class="col-xs-6 col-md-6">
            <li><a href="{{{site.baseuri}}{{class.uri}}"><p>{{class.name}}</p></a></li>
          </div>
          {% endfor %}
        </ul>
    
      </div>

  
      <div class="col-xs-12 col-md-4">
        <h6>Other Links</h6>
        <ul class="footer-links">
          <li><a href="#about"><p>About Us</p></a></li>
       
         
          <li><a href="https://vidhyalayam.online/PrivacyPolicy.html"><p>Privacy Policy</p></a></li>
          <li><a href="https://vidhyalayam.online/T&C.html"><p>Terms & Conditions</p></a></li>
         
        
          
      </div>

    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        
        
          <a href="https://www.apache.org/licenses/LICENSE-2.0"><p>  വിദ്യാലയം.online is under Apache 2.0 License</p></a>
          <a href="https://github.com/Vidhyalayam/vidhyalayam.github.io"><i
            class="fa fa-github  " data-wow-delay=".1s"> <p>we are powered by Github</p></i></a> 
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          
              <li><div class="fb-like text-right" data-href="https://www.facebook.com/Vidhyalayam-109438267545014" data-width="" data-layout="box_count" data-action="like" data-size="small" data-share="true"></div></li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>
