<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://use.fontawesome.com/5a8a7bb461.js"></script>

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>From the founder's desk</strong></h3>
                <div class="seprator"></div>
                
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" style="padding: 20px">
                                <i class="fa fa-quote-left testimonial_fa"
                                        aria-hidden="true"></i>
                                <p class="testimonial_para">During the 3rd week of August 2020, I stumbled upon an idea
                                    to build a website for students in Kerala, The idea was to collate, order, arrange
                                    and tag the videos released by Kerala State Governments for easier access to
                                    students across the State. I was in uncharted waters and naturally I called for
                                    help, students across the globe joined hands, with a team of 20 students we
                                    initiated a small program "www.vidhyalayam.online". Within 10 days we brought up the
                                    site to include 1000+ videos with the help of 350+ pull requests, 700 + commits. By
                                    the way, this is production-grade software primarily built by students who had never
                                    written a single piece of code before & they did it along with their day to day
                                    studies, exams, etc. If we were a bunch of seasoned programmers, I am pretty sure we
                                    would have taken much more time and a ton of politics. This experience has taught me
                                    that to "be Agile" is natural for these students. Somewhere we professionals
                                    "unlearned" it and we are struggling to learn it again. I rest my case with the
                                    wonderful work built by our team of students as a living memento to prove "Agility
                                    is a lot more about unlearning than learning ", BTW the youngest of our students is
                                    in his 6th grade & we never formally taught any one how to be Agile or what is
                                    DevOps. Kudos to this team of Software Developers for being such an inspiration.</p>
                                <br>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="https://avatars.githubusercontent.com/rtharayil"
                                            class="img-responsive" style="width: 80px">
                                    </div>
                                    <div class="col-sm-10">
                                        <h4><strong>Ranjith Tharayil </strong></h4>
                                        <p class="testimonial_subtitle"><span>Mentor & Coach</span><br>
                                            <span> Founder & Software Developer Vidhyalayam.Online </span>
                                        </p>
                                        <p> Ranjith Tharayil is an accomplished innovator, author, entrepreneur, and an
                                            inspirational servant leader. He has been honored with the title as "Mentor
                                            of change" by NITI Ayog, Govt of India, and was associated with the
                                            Association for Computing Machinery as "ACM Distinguished Speaker". Ranjith
                                            had been an integral part of many R & D departments in large scale product
                                            companies and also a founder of 3 start-ups. He has authored 9 patents, 30+
                                            articles, and 3 books across different domains he has touched.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                


            </div>

        </div>

    </div>

</section>
