<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{site.Head1}}</h1>
            
            <div>
                

                <h5>A web portal to access Kerala State syllabus Videos & Textbooks published by KITE Victor Channel /SCERT Kerala</h5>
                
            
            
          
                    
                        
                </div>
               
                
               
                
                 
            
            
            
        </div>
    </div>
    
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2> Please select your class to proceed  </h2>
    
            <hr class="primary">
        </div>
    </div>
</div>

<div class="row">
            
    <ul class="tilesWrap">
        {% for class in site.data.class %}
        <li onclick="location.href = '{{site.baseuri}}{{class.uri}}';" >
            <h2>{{class.name}}</h2>
            <h3>{{class.std}}</h3>		

            
            <!--<button onclick="window.location.href='{{site.baseuri}}{{class.uri}}';"> View Subjects</button> -->
        </li>
        {% endfor %}
        
    </ul>

</div>
