<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{site.Head1}}</h1>
            
            <div>
                <h3>"{{site.Head2}}"</h3>

                <h5>A web portal to access Kerala State syllabus Videos & Textbooks published by KITE Victor Channel /SCERT Kerala</h5>
                
            
            
            <hr class="primary">
                    
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            
                            
                            <h2> Please select your class to proceed  </h2>
                            <h4>The  Videos & Textbooks are arranged class wise. </h4>
                           
                            
                          
                            
                       
                        
                        
                    </div>
                </div>
               
                
               
                
                 
            
            
            
        </div>
    </div>
    
</header>
<div class="row">
            
    <ul class="tilesWrap">
        {% for class in site.data.class %}
        <li onclick="location.href = '{{site.baseuri}}{{class.uri}}';" >
            <h2>{{class.std}}</h2>
            <h1>{{class.name}}</h1>		

            
            <button onclick="window.location.href='{{site.baseuri}}{{class.uri}}';"> View Subjects</button>
        </li>
        {% endfor %}
        
    </ul>

</div>