<header>
    <style>
        header {
            background-image: url('{{page.advBGImagelink}}');
        }
    </style>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{page.advTitle1}}</h1>

            <div>
                <h3>{{page.advTitle2}}</h3>

                <h4>{{page.advTitle3}}</h4>
            </div>
            <a href="{{page.advCTALink}}" class="btn btn-primary btn-xl page-scroll">{{page.advCTAName}}</a>
        </div>
    </div>
</header>