<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Team member details</h2>
				<hr>


			</div>


		</div>
	</div>

	<div class="row">

		<ul class="tilesWrap">
			
			<div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-left">
				<img src="https://avatars.githubusercontent.com/{{page.githubID}}" alt="logo"
					style="width: 100px; height: 100px; float:right ;" />
			</div>
			
			<div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 text-left">
				<h3>{{page.name}}</h3>
				<h4>{{page.institution}}</h4>
				<h5>Class : {{page.class}}</h5>
				<h5>Role : {{page.role}}</h5>
			</div>
			
			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
				<h3>Awards and Recognition </h3>
				
			</div>
			
				
		
			

		</ul>

	</div>
</div>
