<div class="container">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Select your Class </h2>
                <hr >
              
                
            </div>
            
            
        </div>
    </div>

	<div class="row">

		<ul class="tilesWrap">
			{% for class in site.data.class %}
			<li onclick="location.href = '{{site.baseuri}}{{class.uri}}';" >
				<h2>{{class.std}}</h2>
				<h1>{{class.name}}</h1>
				

				
				<button onclick="window.location.href='{{site.baseuri}}{{class.uri}}';"> View Subjects</button>
			</li>
			{% endfor %}
			
		</ul>

	</div>
	
	 <h5 class="section-heading"> Please note our website is Under Construction, hence few lessons could be missing </h5>
</div>
