<section  id="services" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{site.ServicesHeading}}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box">
                    <h3>{{site.Services1H}}</h3>
                    <img src="img/portfolio/employee.svg" alt="Snow" style="width:50%">

                    <p class="text-muted">{{site.Services1}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box">
                    <h3>{{site.Services2H}}</h3>
                    <img src="img/portfolio/certificate.svg" alt="Snow" style="width:50%">

                    <p class="text-muted">{{site.Services2}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 text-center">
                <h3>{{site.Services3H}}</h3>
                <div class="service-box">
                    <img src="img/portfolio/verified.svg" alt="Snow" style="width:50%">

                    <p class="text-muted">{{site.Services3}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 text-center">
                <h3>{{site.Services4H}}</h3>
                <div class="service-box">
                    <img src="img/portfolio/share.svg" alt="Snow" style="width:50%">

                    <p class="text-muted">{{site.Services4}}</p>
                </div>
            </div>
        </div>
    </div>
</section>